DATABASE_URL=postgresql://user:password@localhost:5432/mednotebook
AWS_ACCESS_KEY_ID=your_access_key_here
AWS_SECRET_ACCESS_KEY=your_secret_key_here
AWS_BUCKET_NAME=your_bucket_name_here
ANTHROPIC_API_KEY=your_anthropic_api_key_here
